/* Window buttons on left - GTK, Firefox with CSD enabled */
#titlebar-max {-moz-box-ordinal-group: 0;}
#titlebar-content {direction: rtl;}
#titlebar-close {margin-right: 5px !important;}
#TabsToolbar {direction: rtl;}
#tabbrowser-tabs {direction: ltr;}
/*	 OPTIONAL SECTION - SIZE OF PLACEHOLDERS
	.titlebar-placeholder[type="post-tabs"] {width: 20px !important;}
	.titlebar-placeholder[type="pre-tabs"] {width:20px !important;border: none 0px !important;
*/
}

