/* 	
	Hide window buttons when maximized - Actual code, for use in userChrome.css 
	Use with Unite extension or similar
   	extensions.gnome.org 
*/
#main-window[sizemode="maximized"] #titlebar-buttonbox {margin-left: -80px;}
#main-window[sizemode="maximized"] #tabbrowser-tabs {margin-left: -80px;}
#main-window:not([sizemode="maximized"]) #titlebar-buttonbox {margin-left: 0px;}
#titlebar-buttonbox, #tabbrowser-tabs {transition: margin-left 0.05s;}




