# 31/10/2020

alias -g apt='apt-fast'
alias apagar='sudo shutdown -P'
alias n='nnn'
alias nvim='/opt/nvim/nvim.appimage'
alias sws='/opt/SoundWireServer/SoundWireServer'
alias taskbook='tb'
alias trash='trash-put'
alias neth='sudo nethogs'
alias streamv='acestream-launcher -p vlc'
alias stream='acestream-launcher'
alias mp3='noglob youtube-dl --output "~/Downloads/%(title)s.%(ext)s" --extract-audio --audio-format mp3'
alias download='noglob youtube-dl --output "~/Downloads/%(title)s.%(ext)s"'
alias desc='mp3'
alias urserver='/opt/urserver/urserver-start --no-manager --no-notify'
alias neo='neofetch'
alias loadmic='pacmd load-module module-alsa-source device=hw:Loopback,1,0 source_properties=device.description=droidcam_audio'
alias cam='nohup ~/startcam.sh && echo "Done"'
alias ..='cd ..'
alias ..2='cd ../..'
alias ..3='cd ../../..'
alias ..4='cd ../../../..'
alias ~='cd ~'
alias dl='cd ~/Downloads'
alias cp='cp -iv'
alias mv='mv -iv'
