# 07/10/2018

function commit () { 
    git add . && git commit -m "$*"
}

alias push='git push'
alias rmi='rm -i'
alias neth='sudo nethogs wlxe8de27a32df0'
alias streamv='acestream-launcher -e "acestreamplayer.engine --client-console" -p vlc'
alias stream='acestream-launcher -e "acestreamplayer.engine --client-console"'
alias mp3='youtube-dl --output "/home/pante/Downloads/%(title)s.%(ext)s" --extract-audio --audio-format mp3'
alias download='youtube-dl --output "/home/pante/Downloads/%(title)s.%(ext)s'
alias neo='neofetch'
alias ..='cd ..'
alias ..2='cd ../..'
alias ..3='cd ../../..'
alias ..4='cd ../../../..'
alias ~='cd ~'
alias dl='cd ~/Downloads'
alias sesion='tilix --session /home/pante/.config/tilix/config4.json'
