[submodule ".icons/Malvin"]
	path = .icons/Malvin
	url = git@github.com:thepante/Malvin.git
[submodule ".zsh/k"]
	path = .zsh/k
	url = git@github.com:supercrabtree/k.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
