:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

*:focus, *:visited, *:active, *:hover {
  outline: 0 !important;
}

*::-moz-focus-inner {
  border: 0;
}

body {
  background-color: white;
  color: black;
  display: block;
  margin: 8px;
  -moz-appearance: none !important;
}

* .OutlineContent {
  background-color: #fff !important;
}

@-moz-document url("about:home"), url("about:newtab") {/*body {--newtab-background-color: #0F1419 !important;} COMUN */

  body {
    background: linear-gradient(178deg, #222424, #0F1419, #0F1419, #0F1419, #0F1419);
  }

  .activity-stream .onboarding-watermark {
    opacity: 0.2;
  }

  .activity-stream .sections-list .top-site-icon {
    filter: saturate(10%);
  }

  .icon-settings {
    opacity: 0.1;
  }
}
