/* Gnome 10/2021 - u/thepante */
@namespace html url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");

:root:-moz-lwtheme-brighttext,
:root,
* {
  --chrome-background-color: linear-gradient(150deg, #1b0f1a, #160c15) !important; /* #0f1419 , linear-gradient(150deg, #102E33, #171E33, #262038) ///  #0F1419 !important; /*era #141414*/
  --chrome-secondary-background-color: #222424 !important;
  --chrome-nav-bar-controls-border-color: hsla(240, 5%, 5%, 0.3);
  --chrome-color: #a7a592 !important;
  --chrome-selection-color: #fff;
  --chrome-selection-background-color: rgb(26, 88, 221);
  --toolbar-color: var(--chrome-color) !important;
  --toolbar-bgcolor: #222424 !important;
  --toolbox-border-bottom-color: hsl(240, 5%, 5%);
  --toolbarbutton-icon-fill-attention: var(--chrome-color) !important;
  --urlbar-separator-color: #5f6670;
  --lwt-toolbar-field-background-color: rgb(71, 71, 73);
  --lwt-toolbar-field-color: var(--chrome-color);
  --lwt-toolbarbutton-icon-fill: var(--chrome-color) !important;
  --lwt-selected-tab-background-color: inherit !important;
  --lwt-accent-color: var(--chrome-color) !important;
  --lwt-text-color: var(--chrome-color) !important;
  --panel-disabled-color: var(--chrome-color) !important;
  --autocomplete-popup-highlight-background: #284163;
  --autocomplete-popup-background: #2a2a2e !important;
  --arrowpanel-background: #181c20 !important;
  --arrow-panel-color: var(--chrome-color) !important;
  --tab-border-radius: 0;
  --tab-line-color: rgb(248, 112, 140);
  --tab-loading-fill: var(--tab-line-color) !important;
  --proton-tab-block-margin: 0;
  color: var(--chrome-color);
}

/* Inject .js */
#alltabs-button {
  -moz-binding: url("userChrome.xml#js");
}

#TabsToolbar {
  background: #var(--chrome-background-color);
}

/* Adjusts for 'view tabs' button when pinned tab selected */
#alltabs-button {
  display: none;
  opacity: 0;
}
.tab-stack {
  min-height: 31px !important;
}

/* Hide big action buttons on contextual menu & Adjust width */
#context-navigation,
#context-sep-navigation {
  display: none !important;
}
menupopup#contentAreaContextMenu {
  max-width: 260px !important;
}

/* URL&Tabs bar colors */
#urlbar:-moz-lwtheme,
#urlbar:-moz-lwtheme:hover,
#navigator-toolbox .searchbar-textbox:-moz-lwtheme,
#navigator-toolbox .searchbar-textbox:-moz-lwtheme:hover {
  background-color: #111 !important;
}

#urlbar-background {
  background: #282020 !important;
}

#urlbar:not(.megabar):not([focused="true"]),
#urlbar.megabar:not([focused="true"]) > #urlbar-background,
#navigator-toolbox #searchbar:not(:focus-within) {
  border-color: #202020 !important;
}

#tabs-newtab-button {
  margin-top: 2px !important;
  opacity: 0.3;
  transition: opacity .2s ease-in-out;
}

#tabs-newtab-button:hover .toolbarbutton-icon {
  fill: white !important;
}

/* Tabs: selected tab */
.tabbrowser-tab > .tab-stack > .tab-content {
  margin-top: 1px !important;
}

.tabbrowser-tab[selected] > .tab-stack {
  margin-bottom: 0px;
  border: 1px none transparent !important;
  border-top-color: var(--tabs-border-color) !important;
  border-top-style: solid !important;
}

.tabbrowser-tab[visuallyselected="true"] > .tab-stack > .tab-background {
	box-shadow: 0 0 8px #000000 !important;
}

.tab-background {
  border-top: 2px none transparent !important;
}

.tab-background[selected="true"] {
  border-top: 2px solid var(--tab-line-color) !important;
}

#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  border-color: red;
}

.tabbrowser-tab:not([selected])::after,
.tabbrowser-tab:not([selected])::before {
  border-left: 1px solid #474747 !important;
  margin-right: -1px !important;
}
.tab-icon-image,
.tab-label {
  opacity: 0.8;
}
#tabbrowser-tabs .tab-icon-image[selected],
#tabbrowser-tabs .tab-label[selected] {
  opacity: 1;
}
#tabbrowser-tabs:not([movingtab])
  > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  margin-top: 0;
  margin-bottom: 1px;
  opacity: 1;
  border-right: 0 transparent;
}

/* Icons: Domain conection info */
#urlbar[pageproxystate="valid"]
  > #identity-box.verifiedDomain
  > #connection-icon,
#urlbar[pageproxystate="valid"]
  > #identity-box.verifiedIdentity
  > #connection-icon,
#urlbar[pageproxystate="valid"]
  > #identity-box.mixedActiveBlocked
  > #connection-icon {
  list-style-image: url(chrome://browser/skin/connection-secure.svg);
  -moz-context-properties: fill;
  fill: #55aa7f !important; /*#03CB76*/
}
:root[lwt-popup-brighttext] .identity-popup-connection-secure {
  color: #55aa7f !important;
}
#identity-icon-labels {
  color: #03cb76 !important;
}
#identity-icon-country-label {
  opacity: 0;
  -moz-margin-end: -25px !important;
  transition: opacity 0.3s, -moz-margin-end 0.3s;
}
#identity-box:hover #identity-icon-country-label {
  opacity: 1;
  -moz-margin-end: 5px !important;
  transition: opacity 0.5s, -moz-margin-end 0.3s;
}
#identity-box #identity-icon-labels {
  -moz-margin-end: -10px !important;
  padding-right: 3px !important;
}
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity {
  --urlbar-separator-color: rgba(18, 188, 0, 0) !important;
}
#identity-box:hover:not(.no-hover):not([open="true"]) {
  background-color: hsla(0, 0%, 70%, 0.2);
  fill-opacity: 0.8;
  -moz-transition: background-color 0.35s;
}
#identity-box {
  -moz-transition: background-color 0.35s;
}

/* Some colors adjusts taken using color.firefox */
#main-window {
  --lwt-accent-color: var(--chrome-background-color);
}
:root[extradragspace][tabsintitlebar]:not([inFullscreen]) {
  --space-above-tabbar: 0px !important;
}
.browser-toolbar:not(.titlebar-color) {
  background-color: var(--toolbar-bgcolor);
}
#navigator-toolbox {
  background: var(--chrome-background-color) !important;
  border-bottom: 1px solid #161717 !important;
}
#urlbar:not([focused="true"]):-moz-lwtheme,
#urlbar:not([focused="true"]):-moz-lwtheme:hover,
#navigator-toolbox .searchbar-textbox:not([focused="true"]):-moz-lwtheme,
#navigator-toolbox .searchbar-textbox:not([focused="true"]):-moz-lwtheme:hover {
  border-color: #1c1e1e;
}
#urlbar:-moz-lwtheme,
#urlbar:-moz-lwtheme:hover,
#navigator-toolbox .searchbar-textbox:-moz-lwtheme,
#navigator-toolbox .searchbar-textbox:-moz-lwtheme:hover {
  background-color: #353535;
}
#urlbar,
.searchbar-textbox {
  -moz-appearance: none;
  border: 1px solid hsla(0, 0%, 9.4%, 0.3) !important;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

/* Selected text on URL bar */
#urlbar html|input.textbox-input::-moz-selection {
  background-color: #257abd !important;
  color: white !important;
}

/* Tab section spacers on sides */
.titlebar-spacer[type="pre-tabs"] {
  width: 20px !important;
  border-inline-end: 0px !important;
}
.titlebar-spacer[type="post-tabs"] {
  width: 20px !important;
  border: none 0px !important;
}

/* Hide window controls buttons: to use along with 'Unite' gnome extension or similar */
#main-window[sizemode="maximized"] .titlebar-buttonbox {
  margin-left: -80px;
}
#main-window[sizemode="maximized"] .tabbrowser-tabs {
  margin-left: -80px;
}
#main-window:not([sizemode="maximized"]) .titlebar-buttonbox {
  margin-left: 4px;
}
.titlebar-buttonbox,
.tabbrowser-tabs {
  transition: margin-left 0.05s;
}

/* Hide dotted borders on menus/links | Also: about:config → browser.display.focus_ring_width = 0 */
::-moz-focus-inner,
input[type="range"]::-moz-focus-outer,
*::-moz-focus-inner {
  border: 0;
}
*:focus,
:focus,
*:visited,
*:active,
*:hover {
  outline: 0 !important;
}
.keyboard-focused-tab > .tab-stack > .tab-content,
.tabbrowser-tab:focus:not([aria-activedescendant]) > .tab-stack > .tab-content {
  outline: 1px dotted transparent !important;
}

toolbarbutton .toolbarbutton-badge-stack,
toolbarbutton .toolbarbutton-icon,
.webextension-browser-action
  > .toolbarbutton-badge-stack
  > .toolbarbutton-icon {
  opacity: 0.8 !important;
}
.webextension-browser-action
  > .toolbarbutton-badge-stack
  > .toolbarbutton-icon {
  filter: saturate(40%);
}

/* Bookmark and Downloads buttons colors & Hide screenshot button */
#downloads-button {
  direction: ltr;
  opacity: 0.3;
  transition-duration: 1s !important;
  transition-property: opacity;
}

#downloads-button[attention="success"] {
  opacity: 1;
  transition-duration: 1s;
  transition-property: opacity fill;
}

#downloads-button[attention="success"]
  > #downloads-indicator-anchor
  > #downloads-indicator-progress-outer {
  fill: #448a4c !important;
}
#downloads-button[attention="success"]
  > #downloads-indicator-anchor
  > #downloads-indicator-icon {
  fill: rgb(249, 249, 250) !important;
}
#star-button[starred] {
  -moz-context-properties: fill, fill-opacity;
  fill: var(--chrome-color);
  fill-opacity: 1;
}
#pageAction-urlbar-screenshots_mozilla_org,
#pageAction-urlbar-webcompat-reporter_mozilla_org {
  display: none;
}
.urlbar-icon {
  opacity: 0.8;
}

/* Hide close tab icon | autohide */
/* .close-icon {
  border-radius: 2px !important;
}*/
.close-icon:hover {
  fill-opacity: 0.07;
}
.close-icon:hover:active {
  fill-opacity: 0.15;
}

.tab-close-button {
  stroke-opacity: 0.5;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  width: 0px;
}
/* ACA - TODO - FIX */
/*.tabbrowser-tab[selected="true"] .tab-close-button,*/
.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
  stroke-opacity: 0.5;
  visibility: visible;
  display: block !important;
  opacity: 1;
  height: 22px;
  width: 22px;
}

/* Fix close button when hover an unselected tab */
#tabbrowser-tabs[closebuttons="activetab"]
  > .tabbrowser-tab
  > .tab-stack
  > .tab-content
  > .tab-close-button:not([selected="true"]):not([pinned="true"]) {
  display: inherit !important;
}
/*   #tabbrowser-tabs:not([pinned="true"]):hover .tab-content:hover {min-width: 60px !important;} */

/* Media blocked icon */
.tab-icon-sound[activemedia-blocked] {
  display: none !important;
}
.tab-icon-sound {
  -moz-transition: 0.25s;
}

/* Media icon on pinned tab */
.tab-icon-overlay[soundplaying] {
  opacity: 0.4;
}

/* Hide arrow btn to show tabs list when tabs overflow */
#tabbrowser-tabs toolbarbutton.scrollbutton-up,
#tabbrowser-tabs toolbarbutton.scrollbutton-down,
#tabbrowser-tabs spacer.arrowscrollbox-overflow-end-indicator {
  display: none !important;
}
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
  -moz-context-properties: fill, fill-opacity;
  fill: transparent;
  fill-opacity: 0;
  opacity: 0 !important;
  display: none !important;
}

/* Display all tabs opened | no-scroll */
#tabbrowser-tabs
  .tabbrowser-tab:not([pinned="true"]):not([selected="true"])[fadein] {
  min-width: 1px !important;
}
#tabbrowser-tabs .tabbrowser-tab[selected="true"] {
  min-width: 30px !important;
}

/* Fix 1px bug when a lot of tabs opened and arrows would appear + fix 2px over tabs */
:root #TabsToolbar,
:root #TabsToolbar + * {
  min-height: 31px !important;
}
:root #TabsToolbar {
  padding-top: 0px !important;
  margin-top: -1px !important;
}

/* Tabs sizes: max/min width */
.tabbrowser-tab:not([pinned="true"])[fadein] {
  max-width: 160px !important;
  min-width: 80px !important;
}

/* Text displayed in tab */
.tab-label-container {
  font-size: 12px !important;
}
.tab-content {
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  color: #b2b2b2 !important;
}
.tabbrowser-tab > .tab-stack > .tab-content[selected="true"] {
  color: #d3d3d3 !important;
}

/* Desaturate unselected tabs */
.tab-icon-image {
  border-radius: 2px !important;
  filter: saturate(15%);
  transition-duration: 0.2s;
  opacity: 0.7;
}
#tabbrowser-tabs .tab-icon-image[selected] {
  filter: none !important;
}

/* Disable panels animations */
.panel-arrowcontainer {
  opacity: 1;
  transform: none;
  transition: none !important;
  pointer-events: all !important;
  color: #a7a592 !important;
}
*#BMB_bookmarksPopup {
  transform: none !important;
  transition-duration: 0.5ms !important;
}
panel[type="arrow"]:not([animate="false"]) {
  transform: none !important;
  transition-duration: 0.5ms !important;
}
PanelUI-popup * {
  transition: none !important;
}
findbar {
  transition: none !important;
}

/* General menu, dropdown from toolbar button */
photonpanelmultiview .panel-subview-body {
  margin: 0 !important;
}
#appMenu-edit-controls,
#appMenu-edit-controls + toolbarseparator {
  display: none;
}
#appMenu-popup .panel-arrowcontent {
  margin: 4px 4px 0 !important;
  padding: 0 !important;
}
#appMenu-popup .panel-subview-body {
  margin: -6px 0;
}
#appMenu-mainView {
  padding: 0 !important;
}
photonpanelmultiview
  .PanelUI-subView
  .toolbaritem-combined-buttons
  > .subviewbutton:not(#appMenu-zoomReset-button):not(#appMenu-fxa-icon) {
  padding: 10px !important;
}
#appMenu-zoom-controls {
  margin: -6px 0;
  margin-inline-end: 0 !important;
}

#appMenu-zoomReset-button {
  border-radius: 0 !important;
  border-width: 0 1px 0 1px !important;
  border-color: var(--arrowpanel-dimmed) !important;
  padding: 10px 10px 9px !important;
}

#appMenu-zoomEnlarge-button {
  margin-inline-start: 0 !important;
}
#appMenu-quit-button {
  padding: 10px !important;
  margin-top: -5px !important;
}
#appMenu-fxa-container {
  margin-bottom: -6px;
  margin-inline-end: 0 !important;
}
#appMenu-fxa-container toolbarseparator[orient="vertical"],
#appMenu-zoom-controls toolbarseparator[orient="vertical"] {
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

#appMenu-fxa-label {
  padding: 10px 32px !important;
}
#appMenu-fxa-avatar {
  border-radius: 50%;
  width: 24px !important;
  height: 24px !important;
}
#appMenu-fxa-icon {
  padding: 10px !important;
}
#appMenu-fxa-status {
  margin-left: -8px;
}

#appMenu-multiView {
  color: var(--chrome-color);
  border: 0px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.2);
  background: var(--chrome-background-color);
  --arrowpanel-background: var(--chrome-background-color);
}

#appMenu-mainView .subviewbutton,
#appMenu-mainView .toolbaritem-combined-buttons {
  opacity: 0.7 !important;
}
#appMenu-zoomReduce-button,
#appMenu-zoomEnlarge-button,
#appMenu-fullscreen-button {
  padding: 6px !important;
  margin: 2px !important;
  border-radius: 50%;
}
#appMenu-zoomReduce-button {
  margin-right: -7px !important;
}

/* General */
.panel-arrowcontent {
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.7) !important;
  border: 0px !important;
}

.identity-popup-security-content,
#identity-popup-permissions-content,
#identity-popup-content-blocking-content {
  fill: var(--chrome-color) !important;
}
#pageActionSeparator {
  display: none !important;
}

/* Colors for update warning banner */
:root[lwt-popup-brighttext] .addon-banner-item::after {
  fill: #829315 !important;
}
:root[lwt-popup-brighttext] .addon-banner-item {
}
#main-window[sizemode="normal"] {
  border-radius: 3px 3px 0px 0px !important;
  background: transparent !important;
}

.toolbarbutton-animatable-box,
.toolbarbutton-1,
html|*.textbox-input,
html|*.textbox-textarea,
#navigator-toolbox *,
#pageActionButton,
#star-button[starred] {
  fill: var(--chrome-color) !important;
  color: var(--chrome-color) !important;
}

.panel-footer > button:not([disabled])[default] {
  background-color: #a7a592 !important;
}

.popup-notification-primary-button .button-text,
#editBookmarkPanelBottomButtons .button-text {
  color: white !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
}

/* Containers colors */
.tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-background
  > .tab-bottom-line {
  background: linear-gradient(
    to right,
    transparent 10%,
    var(--identity-tab-color) 10%,
    var(--identity-tab-color) 90%,
    transparent 90%
  );
  height: 2px;
  filter: saturate(0.3);
}
#userContext-indicator,
#userContext-label,
#navigator-toolbox .menu-iconic-text,
#navigator-toolbox .menu-iconic-icon {
  fill: var(--identity-tab-color) !important;
  color: var(--identity-tab-color) !important;
  filter: saturate(0.3) !important;
}

/* URL bar, richbox, list results */
.ac-url {
  opacity: 0.5 !important;
}
.ac-action {
  filter: contrast(0.3) grayscale(100%) !important;
}
.ac-type-icon {
  opacity: 0.4 !important;
}
.ac-site-icon {
  filter: saturate(0.6) !important;
}

/* Dark background on content load | Fix white flash on new tabs */
tabpanels {
  background: linear-gradient(
    178deg,
    #222424,
    #0f1419,
    #0f1419,
    #0f1419,
    #0f1419
  ) !important;
}

/* Desaturate bookmark icons colors on sidebar */
.sidebar-placesTreechildren {
  color: var(--chrome-color) !important;
  filter: saturate(0.5) !important;
}

/* Font size adjust */
#urlbar-input {
  --urlbar-scheme-size: 8ch;
  font-weight: 500;
}

/* Colors on url history list */
:root[lwt-popup-darktext] {
  --urlbar-popup-url-color: hsl(211.6, 94.2%, 72.7%);
  --urlbar-popup-action-color: hsl(177.9, 87.7%, 38.2%);
}

/* Addons buttons badge */
.toolbarbutton-badge {
  color: white !important;
  border-radius: 50px !important;
  font-size: 10px !important;
}

#identity-box[pageproxystate="valid"].notSecureText,
#identity-box[pageproxystate="valid"].verifiedIdentity,
#identity-box[pageproxystate="valid"].chromeUI,
#identity-box[pageproxystate="valid"].extensionPage,
#urlbar-label-box {
  --color-separador: red;
	margin-inline-end: 8px;
	border-inline-end: 1px solid var(--color-separador);
	border-image: linear-gradient(transparent 15%, var(--color-separador) 15%, var(--color-separador) 85%, transparent 85%);
	border-image-slice: 1;
}

#urlbar:not([focused=true])
  > #urlbar-input-container {
	border-color: #0f1419 !important;
}

/* Removes search engine suggestion */
#urlbar .search-one-offs {
  display: none !important;
}

/* Remove fullscreen banner */
#fullscreen-warning {
  display: none !important;
}

