.dpt-panel-maximized-text-color .panel-button { color: rgb(138, 226, 52); }
.dpt-panel-maximized-icon-color .system-status-icon { color: rgb(138, 226, 52); }
.dpt-panel-maximized-arrow-color .popup-menu-arrow { color: rgb(138, 226, 52); }