.dpt-panel-text-color .panel-button { color: rgb(222, 222, 222); }
.dpt-panel-icon-color .system-status-icon { color: rgb(222, 222, 222); }
.dpt-panel-arrow-color .popup-menu-arrow { color: rgb(222, 222, 222); }